html, body {
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-text-size-adjust: none;
  user-select: none;
  position: relative;
  width: 100%;
}

h1 {
  font-size: 24px;
  text-align: center;
  padding: 20px;
}

.portrait-msg {
  display: none;
}

.main-container {
  display: flex;
  justify-content: center;
}

canvas {
  max-height: 100vh;
  max-height: calc(var(--vh, 1vh) * 100);
}

.softkey-container-1 {
  display: none;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.softkey-container-2 {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  justify-content: center;
  flex-grow: 1;
}

.softkey-a, .softkey-s, .softkey-d {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  text-align: center;
  margin: 20px 0;
  width: 60px;
  height: 60px;
  font-size: 30px;
  color: white;
}

.softkey-a {
  background-color: crimson;
}

.softkey-s {
  background-color: dodgerblue;
}

.softkey-d {
  background-color: #FFAF00;
}

@media all and (max-device-width: 535px) and (orientation: portrait) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .portrait-msg {
    display: block;
  }

  .main-container {
    display: none;
  }
}

@media all and (min-device-width: 535px) and (orientation: portrait) {
  .softkey-a, .softkey-s, .softkey-d {
    width: 120px;
    height: 120px;
    font-size: 50px;
    margin-bottom: 20px;
  }

  .main-container {
    flex-direction: column;
    height: 100%;
  }

  .softkey-container-1 {
    visibility: hidden;
    position: absolute;
  }

  .softkey-container-2 {
    margin-top: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    flex: 1 0;
  }
}

@media all and (min-width: 1025px) {
  canvas {
    margin-top: 20px;
  }
}